.container {
    margin: 80px;
}

.container h2 {
    color: #565353;
}

.transaction-detail-container {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    background: white;
    padding: 20px;
    width: fit-content;
}

.detail-container {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.detail-container-title {
    font-weight: bold;
    width: 200px;
}

.success {
    color: rgb(3, 141, 3);
}

.fail {
    color:rgb(235, 16, 16);
}